
a {
    text-decoration: none;
   
}
.navbar{
    background-color: rgba(169, 169, 169, 0.568);
    position: fixed !important;
    z-index: 2;
    top: 0;
    left: 0;
width: 100%;
padding: 0 !important;

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    color: black !important;
    /* font-weight: bold; */
    margin-left: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.nav-link {
    transition: all .2s !important;
    border-bottom: 2px solid transparent;
    color: black !important;
    font-size: 16px !important;
    font-weight: bold;
   
}

.nav-link:hover {
    border-bottom: 2px solid black ;
    color: rgb(230, 25, 25) !important;
  
}


.fa-bars{
    color: black !important;
}

.slider{
    position: relative;
    height: 100vh;
}
.carousel-item>img{
    height: 100vh;
}
.carousel-caption{
    color: white !important;
}

.secHead{
    
    text-align: center;
    color: black;
     display: flex;
    justify-content: center;
   
}
.secHead>h2{
    border-bottom: 5px solid black;
    width: fit-content;
  margin-bottom: 20px;
  font-weight: bold;
}

.card{
    background-color: 	rgb(230, 25, 25) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    transition: all 0.5s;
cursor: pointer;
box-shadow: 0 4px 8px 0 rgba(204, 0, 0, 0.431)
}

.card:hover .card-body{
 
  color: white !important;
}
.card>img{
    width: 100px;
    margin: 5px 0;
}
.card-body{
 
    color: black;
    text-align: center;
}
.card-text{
    font-size: 14px !important;
}
.secContent{
    display: flex;
 
}
.heading {
    font-size: 3.5rem;
    font-weight: bold;
    color: black;
    margin-bottom: 0.3em;
   
}
form {
    width: 100%;
    background-color: #212529;
}

input,
textarea {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1em;
    padding: 0.5em 1em;
    border: none;
    outline: none;
    background-color: #212529;
    color: white;
}


.twoInp {
    display: flex;
    justify-content: space-between;
}

.twoInp>input {
    width: 48%;
}

footer{
    background-color: rgb(51, 51, 51);
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    color: white;
    padding: 5px 0;
    font-size: 16px;
}
.portfolioLink{
    text-decoration: none;
}
.detail{
    display: flex;
justify-content: space-between;
}
.form{
    flex: 1;
}
.map{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


@media only screen and (max-width:990px){
  
    
    .secContent{
       flex-direction: column-reverse;
     
    }
    .secContent{
        margin-top: 0 !important;
    }
    .secContent>p{
        margin-top: 10px;
    }
    .navbar-collapse{
        position: absolute;
        z-index: 2;
        top:90px;
        right: 20px;
        background-color: rgba(169, 169, 169, 0.568);
        padding: 20px 30px;
    }
}
@media only screen and (max-width:570px){
  
    .navbar-collapse{
    right: 10px;
    }
    .logo>h3 {
       font-size: 18px !important;
    }
    .footer{
       flex-direction: column;
    }
}